* {
  box-sizing: border-box;
}

BODY {
  
}

.clock {
  background-color: blue;
  opacity:  50%;
  height: 500px;
  width: 500px;
  border-radius: 50%;
}

.hours {
  height: 100px;
  width: 5px;
  border: 1 px solid black;
  background-color: red;
  transform-origin: bottom;
  position: absolute;
  top: 150px; left: 250px;
}

.minutes {
  height: 200px;
  width: 5px;
  border: 1px solid black;
  background-color: white;
  transform-origin: bottom;
  position: absolute;
  top: 50px; left: 250px;

  
}



.minutes {
  animation: cycle 6s infinite linear;
}

.hours {
  animation: cycle 60s infinite linear;
}

@keyframes cycle {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }


}

